<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Order</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <%order_columns.each do |name|%>
                <th><%=name%></th>
              <%end%>
              <th>User</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <% order_columns.each do |name|%>
                <th><%=name%></th>
              <%end%>   
              <th>Action</th> 
            </tr>
          </tfoot>
          <tbody>
              <tr>
                <% order_columns.each do |key| %>
                  <td><%= @order[key.to_sym] %></td>
                <% end %>
                <td class = "d-flex">
                  <%= link_to "#{@order.user.name}", admin_user_path(@order.user.id), method: :get, class: "btn btn-md btn-primary mx-2 rounded" %>
                </td>
              </tr>                 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>