 <div class="container-fluid Banner">
    <div class="row">
        <div class="col-12 p-0">
            <div class="img d-flex justify-content-center align-items-center Banner_row_col-12_img">
                <h1 class="font-italic text-orange font-lg pointer animate__animated animate__fadeInDown">
                    CHECKOUT
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container Content">
    <div class="row my-4">
    	<%= render 'order_info' %>
        <%= render 'product_info' %>
    </div>
</div>
