<ul class="p-0 ml-2 my-3 slide overflow-auto">
    <li class="list-unstyled py-2 text-secondary">
        <i class="fas fa-angle-right mr-2"></i>
        <a class="text-decoration-none text-orange" href="<%=category_path(category.id)%>"><%=category.name%></a>
    </li>
</ul>