<div class="container Content">
    <div class="row mb-5">
        <div class="col-12 animate__animated animate__fadeInLeft text-center">
            <%= image_tag "empty-cart.png", width: "50%" %>
            <h3 class="text-only font-weight-bold text-uppercase">GIỎ HÀNG CỦA BẠN ĐANG TRỐNG</h3>
        </div>
    </div>
</div>